html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
  color: #333;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  font-weight: bold;
  text-align: center;
  display: block;
  font-size: 2rem;
}

section {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #333;
  padding: 1.5rem;
  width: 25%;
}

div:first-child {
  border-left: 1px solid #333;
}

img {
  width: 100%;
  display: block;
}

div img {
  width: 100px;
  margin: 0 auto 1.5rem;
}

h3 {
  text-align: left;
  font-size: 1rem;
  margin: 0;
}

p {
  display: inline-block;
  font-size: .875rem;
  flex-grow: 1;
  margin-top: 0;
}

.names {
  font-style: italic;
  display: block;
  margin: 0;
  flex-grow: 0;
}

.anderon {
  background-color: #e2e2e2;
}

.knights {
  background-color: #ccc;
}

.dragons {
  background-color: #aaa;
}

.light-speed {
  background-color: #999;
}

.btn {
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.125rem;
  color: #fff;
  text-decoration: none;
  background-color: #333;
  display: inline-block;
  border: 3px solid #333;
}

.btn-small {
  border-width: 3px;
  font-size: .875rem;
}

.btn:hover {
  background-color: #000;
}
